@keyframes section-in {
    0% {
        opacity: 0;
        transform: translateY( 500px );
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY( -70% );
    }
}

@keyframes section-page-in {
    0% {
        opacity: 0;
        transform: translateY( 100vh );
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY( 0 );
    }
}

@keyframes section-page-out {
    0% {
        opacity: 1;
        transform: translateY( 0 );
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY( -100vh );
    }
}
